<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Painel - Eagle</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
        type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="{% static 'adminbsb/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Bootstrap Select Css -->
  <link href="{% static 'adminbsb/plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet"/>

  <!-- Waves Effect Css -->
  <link href="{% static 'adminbsb/plugins/node-waves/waves.css' %}" rel="stylesheet"/>

  <!-- Animation Css -->
  <link href="{% static 'adminbsb/plugins/animate-css/animate.css' %}" rel="stylesheet"/>

  <!-- Custom Css -->
  <link href="{% static 'adminbsb/css/style.css' %}" rel="stylesheet">

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="{% static 'adminbsb/css/themes/theme-blue.css' %}" rel="stylesheet"/>
</head>

<body class="theme-blue">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
    <div class="preloader">
      <div class="spinner-layer pl-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <p>Please wait...</p>
  </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="javascript:void(0);" class="bars"></a>
      <span class="navbar-brand" href="not_used/index.html">EAGLE</span>
    </div>
  </div>
</nav>
<!-- #Top Bar -->
<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="info-container">
        <b>Olá, {{ name }}!</b>
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li class="active">
          <a href="/panel">
            <i class="material-icons">dashboard</i>
            <span>Painel</span>
          </a>
        </li>
        <li>
          <a href="/records">
            <i class="material-icons">assessment</i>
            <span>Relatórios</span>
          </a>
        </li>
        <li>
          <a href="/settings">
            <i class="material-icons">settings</i>
            <span>Configurações</span>
          </a>
        </li>
        <hr style="margin: 0;">
        <li>
          <a href="/logout">
            <i class="material-icons">input</i>
            <span>Sair</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
      <div class="copyright">
        &copy; 2016 - 2017 <a href="https://github.com/gurayyarar/AdminBSBMaterialDesign">AdminBSB - Material Design</a>.
      </div>
      <div class="version">
        <b>Version: </b> 1.0.5
      </div>
    </div>
    <!-- #Footer -->
  </aside>
  <!-- #END# Left Sidebar -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <div style="float: left; margin-right: 20px">
              <a href="/panel"><i class="material-icons">arrow_back</i></a>
            </div>
            <div>
              <h2 style="line-height: 24px">{{ agent_name }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      {% if data.processor %}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a tabindex="0" role="button" class="info-box-4" data-trigger="focus hover" data-container="body"
             data-toggle="popover" data-placement="top" data-content="" id="processor-popover"
             style="text-decoration: none">
            <div class="icon">
              <i class="material-icons col-blue" id="processor-icon">devices</i>
            </div>
            <div class="content">
              <div class="text">USO DE CPU</div>
              <div class="number" id="processor-box"></div>
            </div>
          </a>
        </div>
      {% endif %}
      {% if data.memory %}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a tabindex="0" role="button" class="info-box-4" data-trigger="focus hover" data-container="body"
             data-toggle="popover" data-placement="top" data-content="" id="memory-popover"
             style="text-decoration: none">
            <div class="icon">
              <i class="material-icons col-blue" id="memory-icon">memory</i>
            </div>
            <div class="content">
              <div class="text">USO DE MEMÓRIA</div>
              <div class="number" id="memory-box"></div>
            </div>
          </a>
        </div>
      {% endif %}
      {% if data.fileStores %}
        {% for partition in data.fileStores %}
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a tabindex="0" role="button" class="info-box-4" data-trigger="focus hover" data-container="body"
               data-toggle="popover" data-placement="top" data-content="" id="partition-{{ forloop.counter0 }}-popover"
               style="text-decoration: none">
              <div class="icon">
                <i class="material-icons col-blue"
                   {% if partition.mount == 'C:\\' or partition.mount == '/' %}id="disk-icon"{% endif %}>storage</i>
              </div>
              <div class="content">
                <div class="text">USO DE DISCO {{ partition.mount }}</div>
                <div class="number" id="partition-{{ forloop.counter0 }}-box"></div>
              </div>
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body" style="padding-bottom: 0; padding-top: 0;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              {% if data.processor %}
                <li role="presentation" class="active">
                  <a href="#processor-chart" data-toggle="tab">
                    <i class="material-icons">home</i> CPU
                  </a>
                </li>
              {% endif %}
              {% if data.memory %}
                <li role="presentation" {% if not data.processor %}class="active"{% endif %}>
                  <a href="#memory-chart" data-toggle="tab">
                    <i class="material-icons">home</i> MEMÓRIA
                  </a>
                </li>
              {% endif %}
              {% if data.fileStores %}
                {% for partition in data.fileStores %}
                  <li role="presentation"
                      {% if not data.processor and not data.memory %}{% if forloop.first %} class="active"
                      {% endif %}{% endif %}>
                    <a href="#partition-{{ forloop.counter0 }}-chart" data-toggle="tab">
                      <i class="material-icons">home</i> DISCO {{ partition.mount }}
                    </a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              {% if data.processor %}
                <div role="tabpanel" class="tab-pane fade in active" id="processor-chart">
                  <div>
                    <div class="pull-left">Porcentagem de uso</div>
                    <div class="pull-right">100%</div>
                  </div>
                  <br>
                  <div id="processor-chart-placeholder"></div>
                  <div>
                    <div class="pull-left">60 segundos</div>
                    <div class="pull-right">0</div>
                  </div>
                  <br>
                </div>
              {% endif %}
              {% if data.memory %}
                <div role="tabpanel" class="tab-pane fade in active" id="memory-chart">
                  <div>
                    <div class="pull-left">Porcentagem de uso</div>
                    <div class="pull-right">100%</div>
                  </div>
                  <br>
                  <div id="memory-chart-placeholder"></div>
                  <div>
                    <div class="pull-left">60 segundos</div>
                    <div class="pull-right">0</div>
                  </div>
                  <br>
                </div>
              {% endif %}
              {% if data.fileStores %}
                {% for partition in data.fileStores %}
                  <div role="tabpanel" class="tab-pane fade in active" id="partition-{{ forloop.counter0 }}-chart">
                    <div>
                      <div class="pull-left">Porcentagem de uso</div>
                      <div class="pull-right">100%</div>
                    </div>
                    <br>
                    <div id="partition-{{ forloop.counter0 }}-chart-placeholder"></div>
                    <div>
                      <div class="pull-left">60 segundos</div>
                      <div class="pull-right">0</div>
                    </div>
                    <br>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>Alertas recentes</h2>
          </div>
          <div class="body table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Recurso</th>
                <th>Limiar</th>
                <th>Período</th>
              </tr>
              </thead>
              <tbody>
              {% for row in alert_table %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="agent-id-field" hidden>{{ agent_id }}</div>

<!-- Jquery Core Js -->
<script src="{% static 'adminbsb/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core Js -->
<script src="{% static 'adminbsb/plugins/bootstrap/js/bootstrap.js' %}"></script>

<!-- Select Plugin Js -->
<script src="{% static 'adminbsb/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{% static 'adminbsb/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{% static 'adminbsb/plugins/node-waves/waves.js' %}"></script>

<!-- Flot Chart Plugins Js -->
<script src="{% static 'adminbsb/plugins/flot-charts/jquery.flot.js' %}"></script>
<script src="{% static 'adminbsb/plugins/flot-charts/jquery.flot.resize.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'adminbsb/js/admin.js' %}"></script>

<script src="{% static 'core/js/format_bytes.js' %}"></script>
<!-- Initialization script -->
<script>
  const heightRatio = .4;
  const flotOptions = {
    series: {
      shadowSize: 0,
      color: 'rgb(33,150,243)',
    },
    grid: {
      borderColor: '#000000',
      borderWidth: 2,
      tickColor: '#000000',
    },
    lines: {
      fill: true,
    },
    yaxis: {
      min: 0,
      max: 100,
      ticks: [10, 20, 30, 40, 50, 60, 70, 80, 90],
      tickFormatter: () => '',
    },
    xaxis: {
      min: 0,
      max: 59,
      ticks: [10, 20, 30, 40, 50],
      tickFormatter: () => '',
    },
  };

  {% if data.processor %}
    document.getElementById('processor-box').innerText =
      `${parseFloat(parseFloat({{ data.processor.systemCpuLoad }}) * 100).toFixed(1)}%`;
    document.getElementById('processor-popover')
      .setAttribute('data-content', '{{ data.processor.name }}');

    {
      const div = $('#processor-chart-placeholder');
      div.css('height', div.width() * heightRatio);
    }

    $(window).resize(() => {
      const div = $('#processor-chart-placeholder');
      div.css('height', div.width() * heightRatio);
    });

    const processorData = [];
    const processorPlot = $.plot('#processor-chart-placeholder', [[]], flotOptions);
  {% endif %}
  {% if data.memory %}
    const a = parseFloat({{ data.memory.available }});
    const t = parseFloat({{ data.memory.total }});
    document.getElementById('memory-box').innerText = `${parseFloat(100 - (a * 100 / t)).toFixed(1)}%`;
    document.getElementById('memory-popover')
      .setAttribute('data-content', formatBytes(a) + ' (disponível) / ' + formatBytes(t) + ' (total)');

    {
      const div = $('#memory-chart-placeholder');
      div.css('height', div.width() * heightRatio);
    }

    $(window).resize(() => {
      const div = $('#memory-chart-placeholder');
      div.css('height', div.width() * heightRatio);
    });

    const memoryData = [];
    const memoryPlot = $.plot('#memory-chart-placeholder', [[]], flotOptions);
  {% endif %}
  {% if data.fileStores %}
    const partitionData = [];
    const partitionPlot = [];

    {% for partition in data.fileStores %}
      {
        const m = parseInt({{ forloop.counter0 }});
        const a = parseFloat({{ partition.usableSpace }});
        const t = parseFloat({{ partition.totalSpace }});
        document.getElementById(`partition-${m}-box`).innerText = `${parseFloat(100 - (a * 100 / t)).toFixed(1)}%`;
        document.getElementById(`partition-${m}-popover`)
          .setAttribute('data-content', formatBytes(a) + ' (disponível) / ' + formatBytes(t) + ' (total)');

        {
          const div = $(`#partition-${m}-chart-placeholder`);
          div.css('height', div.width() * heightRatio);
        }

        $(window).resize(() => {
          const div = $(`#partition-${m}-chart-placeholder`);
          div.css('height', div.width() * heightRatio);
        });

        partitionData.push([]);
        partitionPlot.push($.plot(`#partition-${m}-chart-placeholder`, [[]], flotOptions))
      }
    {% endfor %}
  {% endif %}

  const tabList = document.getElementsByClassName('tab-pane');
  for (let i = 1; i < tabList.length; i++) {
    tabList[i].classList.remove('active');
  }
</script>
<script src="{% static 'core/js/agent_panel.js' %}"></script>
</body>

</html>
