<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Configurações - Eagle</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
        type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="{% static 'adminbsb/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Bootstrap Select Css -->
  <link href="{% static 'adminbsb/plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet"/>

  <!-- Waves Effect Css -->
  <link href="{% static 'adminbsb/plugins/node-waves/waves.css' %}" rel="stylesheet"/>

  <!-- Animation Css -->
  <link href="{% static 'adminbsb/plugins/animate-css/animate.css' %}" rel="stylesheet"/>

  <!-- Custom Css -->
  <link href="{% static 'adminbsb/css/style.css' %}" rel="stylesheet">

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="{% static 'adminbsb/css/themes/theme-blue.css' %}" rel="stylesheet"/>

  <link rel="shortcut icon" href="{% static 'core/images/eagle-emblem_38348.png' %}">
</head>

<body class="theme-blue">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
    <div class="preloader">
      <div class="spinner-layer pl-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <p>Please wait...</p>
  </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="javascript:void(0);" class="bars"></a>
      <span class="navbar-brand" href="not_used/index.html">EAGLE</span>
    </div>
  </div>
</nav>
<!-- #Top Bar -->
<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="info-container">
        <b>Olá, {{ name }}!</b>
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li>
          <a href="/panel">
            <i class="material-icons">dashboard</i>
            <span>Painel</span>
          </a>
        </li>
        <li>
          <a href="/records">
            <i class="material-icons">assessment</i>
            <span>Relatórios</span>
          </a>
        </li>
        <li class="active">
          <a href="/settings">
            <i class="material-icons">settings</i>
            <span>Configurações</span>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://eagleswermatch.freshdesk.com/a/dashboard/default">
            <i class="material-icons">help</i>
            <span>Suporte</span>
          </a>
        </li>
        <hr style="margin: 0;">
        <li>
          <a href="/logout">
            <i class="material-icons">input</i>
            <span>Sair</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
      <div class="copyright">
        &copy; 2016 - 2017 <a href="https://github.com/gurayyarar/AdminBSBMaterialDesign">AdminBSB - Material Design</a>.
      </div>
      <div class="version">
        <b>Version: </b> 1.0.5
      </div>
    </div>
    <!-- #Footer -->
  </aside>
  <!-- #END# Left Sidebar -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <div style="float: left; margin-right: 20px">
              <a href="/settings"><i class="material-icons">arrow_back</i></a>
            </div>
            <div>
              <h2 style="line-height: 24px">{{ agent.name }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              Configurações de agente
              <small>Alterar parâmetros de monitoração. Deixe em branco para não alterar.</small>
            </h2>
          </div>
          <div class="body">
            <form id="update-agent-form">
              {% csrf_token %}
              <input name="agent-id" value="{{ agent.id }}" hidden>
              <h2 class="card-inside-title" style="margin-top: 0">Geral</h2>
              <div class="form-group form-float row" style="margin: 0; line-height: 40px">
                <div class="switch m-r-20 m-b-20" style="float: left; height: 40px;">
                  <b style="padding-right: 18px">Nome:</b>
                </div>
                <div class="m-b-20" style="float: left; height: 40px;">
                  <div class="form-line" style="height: 37px;">
                    <input type="text" id="name-field" name="name" class="form-control" placeholder="{{ agent.name }}">
                  </div>
                </div>
              </div>
              <div class="form-group form-float row" style="margin: 0; line-height: 40px">
                <div class="switch m-r-20 m-b-20" style="float: left; height: 40px;">
                  <b>Intervalo:</b>
                </div>
                <div class="m-b-20" style="float: left; width: 50px; height: 40px;">
                  <div class="form-line" style="height: 37px;">
                    <input type="text" id="interval-field" name="interval" class="form-control"
                           style="text-align: right">
                  </div>
                </div>
                <div class="m-b-20" style="float: left; width: 120px; height: 40px;">
                  <select id="interval-select" class="js-animations form-control show-tick" name="interval-unit-select">
                    <option value="1">segundos</option>
                    <option value="2">minutos</option>
                    <option value="3">horas</option>
                  </select>
                </div>
              </div>
              <h2 class="card-inside-title" style="margin-top: 0">Recursos</h2>
              <div class="form-group form-float row" style="margin: 0; line-height: 40px">
                <div class="switch m-r-20 m-b-20" style="float: left; height: 40px;">
                  <label>
                    <b style="padding-right: 26px">CPU</b>
                    <input type="checkbox" id="processor-switch" name="monitor-processor" checked>
                    <span class="lever switch-col-blue"></span>
                  </label>
                </div>
                <div id="processor-alert-div" class="m-r-20 m-b-20" style="float: left; height: 40px;">
                  <input type="checkbox" class="filled-in chk-col-blue" id="processor-alert" name="alert-processor">
                  <label for="processor-alert">ALERTA</label>
                </div>
                <div id="processor-select-div" class="m-b-20" style="float: left; width: 240px; height: 40px;" hidden>
                  <select class="js-animations form-control show-tick" disabled>
                    <option value="1">Porcentagem de uso acima de</option>
                  </select>
                </div>
                <div id="processor-field-div" class="m-b-20" style="float: left; width: 50px; height: 40px;" hidden>
                  <div class="form-line" style="height: 37px;">
                    <input type="text" id="processor-field" name="processor" class="form-control" placeholder="valor"
                           style="text-align: right">
                  </div>
                </div>
                <div id="processor-percentage" class="m-b-20"
                     style="float: left; height: 37px; padding: 0 12px; border-bottom: 1px solid #ddd" hidden>
                  <b>%</b></div>
              </div>
              <div class="form-group form-float row" style="margin: 0; line-height: 40px">
                <div class="switch m-r-20 m-b-20" style="float: left; height: 40px;">
                  <label>
                    <b>Memória</b>
                    <input type="checkbox" id="memory-switch" name="monitor-memory" checked>
                    <span class="lever switch-col-blue"></span>
                  </label>
                </div>
                <div id="memory-alert-div" class="m-r-20 m-b-20" style="float: left; height: 40px;">
                  <input type="checkbox" class="filled-in chk-col-blue" id="memory-alert" name="alert-memory">
                  <label for="memory-alert">ALERTA</label>
                </div>
                <div id="memory-select-div" class="m-b-20" style="float: left; width: 240px; height: 40px;" hidden>
                  <select class="js-animations form-control show-tick" id="memory-select" name="memory-select">
                    <option value="1">Porcentagem de uso acima de</option>
                    <option value="2">Espaço disponível abaixo de</option>
                  </select>
                </div>
                <div id="memory-field-div" class="m-b-20" style="float: left; width: 50px; height: 40px;" hidden>
                  <div class="form-line" style="height: 37px;">
                    <input type="text" id="memory-field" name="memory" class="form-control" placeholder="valor"
                           style="text-align: right">
                  </div>
                </div>
                <div id="memory-percentage" class="m-b-20"
                     style="float: left; height: 37px; padding: 0 12px; border-bottom: 1px solid #ddd" hidden>
                  <b>%</b></div>
                <div id="memory-unit-div" class="m-b-20" style="float: left; width: 80px; height: 40px;" hidden>
                  <select class="js-animations form-control show-tick" id="memory-unit-select"
                          name="memory-unit-select">
                    <option value="1">KB</option>
                    <option value="2">MB</option>
                    <option value="3">GB</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-float row" style="margin: 0; line-height: 40px">
                <div class="switch m-r-20 m-b-20" style="float: left; height: 40px;">
                  <label>
                    <b style="padding-right: 12px">Discos</b>
                    <input type="checkbox" id="disk-switch" name="monitor-disk" checked>
                    <span class="lever switch-col-blue"></span>
                  </label>
                </div>
                <div id="disk-alert-div" class="m-r-20 m-b-20" style="float: left; height: 40px;">
                  <input type="checkbox" class="filled-in chk-col-blue" id="disk-alert" name="alert-disk">
                  <label for="disk-alert">ALERTA</label>
                </div>
                <div id="disk-select-div" class="m-b-20" style="float: left; width: 240px; height: 40px;" hidden>
                  <select class="js-animations form-control show-tick" id="disk-select" name="disk-select">
                    <option value="1">Porcentagem de uso acima de</option>
                    <option value="2">Espaço disponível abaixo de</option>
                  </select>
                </div>
                <div id="disk-field-div" class="m-b-20" style="float: left; width: 50px; height: 40px;" hidden>
                  <div class="form-line" style="height: 37px;">
                    <input type="text" id="disk-field" name="disk" class="form-control" placeholder="valor"
                           style="text-align: right">
                  </div>
                </div>
                <div id="disk-percentage" class="m-b-20"
                     style="float: left; height: 37px; padding: 0 12px; border-bottom: 1px solid #ddd" hidden>
                  <b>%</b></div>
                <div id="disk-unit-div" class="m-b-20" style="float: left; width: 80px; height: 40px;" hidden>
                  <select class="js-animations form-control show-tick" id="disk-unit-select" name="disk-unit-select">
                    <option value="1">KB</option>
                    <option value="2">MB</option>
                    <option value="3">GB</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-primary btn-lg waves-effect" id="update-agent-button">SALVAR</button>
              <button type="reset" class="btn btn-primary btn-lg waves-effect">LIMPAR</button>
              <button type="button" class="btn btn-danger btn-lg waves-effect" id="remove-agent-button">REMOVER</button>
            </form>
            <form id="remove-agent-form" hidden>
              {% csrf_token %}
              <input name="agent-id" value="{{ agent.id }}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<span id="old-interval" hidden>{{ agent.interval }}</span>
<span id="old-cpu" hidden>{{ agent.cpu }}</span>
<span id="old-memory" hidden>{{ agent.memory }}</span>
<span id="old-disk" hidden>{{ agent.disk }}</span>

<!-- Jquery Core Js -->
<script src="{% static 'adminbsb/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core Js -->
<script src="{% static 'adminbsb/plugins/bootstrap/js/bootstrap.js' %}"></script>

<!-- Select Plugin Js -->
<script src="{% static 'adminbsb/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{% static 'adminbsb/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{% static 'adminbsb/plugins/node-waves/waves.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'adminbsb/js/admin.js' %}"></script>

<script src="{% static 'core/js/agent_settings.js' %}"></script>
</body>

</html>
