<!DOCTYPE html>
{% load static %}
<script src="{% static 'core/js/format_bytes.js' %}"></script>

<title>Details</title>

{% if agent %}
  <h3>{{ agent.name }}</h3>
  <p>Status: <span id="status"></span>
  <p>Date: <span id="date"></span>
  <p>Processor:
  <div id="processor"></div>
  <hr>
  <p>Memory:
  <div id="memory"></div>
  <hr>
  <p>File Stores:
  <div id="file-stores"></div>
  <hr>

  <script>
    setInterval(() => {
      let req = new XMLHttpRequest();
      req.onreadystatechange = () => {
        if (req.readyState === 4 && req.status === 200) {
          const obj = JSON.parse(req.responseText);

          if (obj.status === 0) {
            document.getElementById('status').innerText = '0';

            const data = obj.content.data;
            const alerts = obj.content.alerts;

            document.getElementById('date').innerText = data.dateTime;

            if (data.processor) {
              document.getElementById('processor').innerText =
                  'Name: ' + data.processor.name +
                  '\nLoad percentage: ' + parseFloat(data.processor.systemCpuLoad * 100).toFixed(1) + '%';
              if (alerts.cpu) {
                document.getElementById('processor').style.color = 'red';
              } else {
                document.getElementById('processor').style.color = 'black';
              }
            }
            if (data.memory) {
              let a = data.memory.available;
              let t = data.memory.total;
              document.getElementById('memory').innerText =
                  'Used percentage: ' + parseFloat(100 - (a * 100 / t)).toFixed(1) + '%' +
                  '\nAvailable: ' + formatBytes(a) +
                  '\nTotal: ' + formatBytes(t);
              if (alerts.memory) {
                document.getElementById('memory').style.color = 'red';
              } else {
                document.getElementById('memory').style.color = 'black';
              }
            }
            if (data.fileStores) {
              const div = document.getElementById('file-stores');
              div.innerText = '';
              for (let f of data.fileStores) {
                const p = document.createElement('p');

                p.innerText +=
                    'Mount point: ' + f.mount +
                    '\nUsed percentage: ' + parseFloat(100 - (f.usableSpace * 100 / f.totalSpace)).toFixed(1) + '%' +
                    '\nUsable: ' + formatBytes(f.usableSpace) +
                    '\nTotal: ' + formatBytes(f.totalSpace) + '\n\n';

                if ((f.mount === 'C:\\' || f.mount === '/') && alerts.disk) {
                  p.style.color = 'red';
                }

                div.appendChild(p);
              }
            }
          } else {
            document.getElementById('status').innerText = obj.status;
          }
        }
      };

      req.open('GET', '/ajax/query_data?id={{ agent.id }}', true);
      req.send();
    }, 1000);
  </script>
{% else %}
  Error
{% endif %}
<a href="/main_page">Back</a>
