<!DOCTYPE html>
{% load static %}
<script src="{% static 'core/js/format_bytes.js' %}"></script>

<title>Main</title>

<p>You're in! <a href="/logout">Leave.</a>

<hr>

{% if agents %}
  <p>Registered:
  <ul>
    {% for agent in agents.registered %}
      <li><a href="/details/{{ agent.id }}">{{ agent.name }} - {% if agent.connected %}Connected{% else %}
      Disconnected{% endif %}</a> "REMOVE BUTTON"
    {% endfor %}
  </ul>
  <p>Unregistered:
  <ul>
    {% for agent in agents.unregistered %}
      <li><a href="/register_agent/{% widthratio agent.id 1 -1 %}">{{ agent.name }}</a>
    {% endfor %}
  </ul>
{% else %}
  <p>No agents to display.
{% endif %}

<hr>

<p>Join Eagle server first!
<form id="setup-dm-form">
  {% csrf_token %}
  <label for="discord-tag-field">Discord Tag:</label>
  <input id="discord-tag-field" name="discord-tag">
  <button type="submit">Submit</button>
</form>
<button id="discord-ping" onclick="sendPing()">Ping</button>

<script>
  const form = document.getElementById('setup-dm-form');
  form.onsubmit = () => {
    event.preventDefault();
    let req = new XMLHttpRequest();
    req.onreadystatechange = () => {
      if (req.readyState === 4 && req.status === 200) {
        const obj = JSON.parse(req.responseText);

        if (obj.status === 0) {
          alert('Done!');
        } else {
          alert('error in setup_dm');
        }
      }
    };

    req.open('POST', '/ajax/setup_dm', true);
    req.send(new FormData(form));
  };

  function sendPing() {
    let req = new XMLHttpRequest();
    req.onreadystatechange = () => {
      if (req.readyState === 4 && req.status === 200) {
        const obj = JSON.parse(req.responseText);
        if (obj.status === 0) {
          alert('Ping sent');
        } else {
          alert('Couldn\'t ping');
        }
      }
    };
    req.open('GET', '/ajax/ping', true);
    req.send();
  }
</script>