<title>Main</title>

<p>You're in! <a href="/logout">Leave.</a>

<hr>
<div id="raw"></div>
<hr>
<p>Monitor:
<hr>
<p>Processor:
<div id="processor"></div>
<hr>
<p>Memory:
<div id="memory"></div>
<hr>
<p>File Stores:
<div id="file-stores"></div>
<hr>

<hr>

<p>Join Eagle server first!
<form id="setup-dm-form">
  {% csrf_token %}
  <label for="discord-tag-field">Discord Tag:</label>
  <input id="discord-tag-field" name="discord-tag">
  <button type="submit">Submit</button>
</form>
<button id="discord-ping" hidden>Ping</button>

<script>
  function formatBytes(a,b){if(0==a)return"0 Bytes";var c=1024,d=b||2,e=["Bytes","KB","MB","GB","TB","PB","EB","ZB","YB"],f=Math.floor(Math.log(a)/Math.log(c));return parseFloat((a/Math.pow(c,f)).toFixed(d))+" "+e[f]}

  setInterval(() => {
    let req = new XMLHttpRequest();
    req.onreadystatechange = () => {
      if (req.readyState === 4 && req.status === 200) {
        const obj = JSON.parse(req.responseText);

        if (obj.status === 0) {
          let content = obj.content;
          document.getElementById('raw').innerText = JSON.stringify(obj.content);
          if (content.processor){
            document.getElementById('processor').innerText =
                'Name: ' + content.processor.name +
                '\nLoad percentage: ' + content.processor.systemCpuLoad * 100;
          }
          if(content.memory){
            let a = content.memory.available;
            let t = content.memory.total;
            document.getElementById('memory').innerText =
                'Used percentage: ' + (100-(a*100/t)) +
                '\nAvailable: ' + formatBytes(a) +
                '\nTotal: ' + formatBytes(t);
          }
          if(content.fileStores){
            const div = document.getElementById('file-stores');
            div.innerText = '';
            for(let f of content.fileStores){
              div.innerText +=
                  'Mount point: ' + f.mount +
                  '\nUsed percentage: ' + (100-(f.usableSpace*100/f.totalSpace)) +
                  '\nUsable: ' + formatBytes(f.usableSpace) +
                  '\nTotal: ' + formatBytes(f.totalSpace) + '\n';
            }
          }
        } else {
          alert('error in query_last_data');
        }
      }
    };

    req.open('GET', '/ajax/query_data', true);
    req.send();
  }, 1000);

  const form = document.getElementById('setup-dm-form');
  form.onsubmit = () => {
    event.preventDefault();
    let req = new XMLHttpRequest();
    req.onreadystatechange = () => {
      if (req.readyState === 4 && req.status === 200) {
        const obj = JSON.parse(req.responseText);

        if (obj.status === 0) {
          const button = document.getElementById('discord-ping');
          button.hidden = false;
          button.onclick = () => {
            alert('NOP');
          };
        } else {
          alert('error in setup_dm');
        }
      }
    };

    req.open('POST', '/ajax/setup_dm', true);
    req.send(new FormData(form));
  };
</script>