<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Welcome To | Bootstrap Based Admin Template - Material Design</title>
  <!-- Favicon-->
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
        type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="{% static 'adminbsb/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Bootstrap Select Css -->
  <link href="{% static 'adminbsb/plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet"/>

  <!-- Waves Effect Css -->
  <link href="{% static 'adminbsb/plugins/node-waves/waves.css' %}" rel="stylesheet"/>

  <!-- Animation Css -->
  <link href="{% static 'adminbsb/plugins/animate-css/animate.css' %}" rel="stylesheet"/>

  <!-- Real Time Css -->
  <link href="{% static 'core/css/realtime.css' %}" rel="stylesheet"/>

  <!-- Custom Css -->
  <link href="{% static 'adminbsb/css/style.css' %}" rel="stylesheet">

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="{% static 'adminbsb/css/themes/theme-blue.css' %}" rel="stylesheet"/>
</head>

<body class="theme-blue">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
    <div class="preloader">
      <div class="spinner-layer pl-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <p>Please wait...</p>
  </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" href="not_used/index.html">EAGLE</span>
    </div>
  </div>
</nav>
<!-- #Top Bar -->
<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="info-container">
        Olá, USER_NAME.
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
      <ul class="list">
        <li class="active">
          <a href="old/index.html">
            <i class="material-icons">dashboard</i>
            <span>Painel</span>
          </a>
        </li>
        <li>
          <a href="/">
            <i class="material-icons">assessment</i>
            <span>Relatórios</span>
          </a>
        </li>
        <li>
          <a href="/">
            <i class="material-icons">settings</i>
            <span>Configurações</span>
          </a>
        </li>
        <hr style="margin: 0;">
        <li>
          <a href="/logout">
            <i class="material-icons">input</i>
            <span>Sair</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
      <div class="copyright">
        &copy; 2016 - 2017 <a href="https://github.com/gurayyarar/AdminBSBMaterialDesign">AdminBSB - Material Design</a>.
      </div>
      <div class="version">
        <b>Version: </b> 1.0.5
      </div>
    </div>
    <!-- #Footer -->
  </aside>
  <!-- #END# Left Sidebar -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <select class="js-animations form-control show-tick">
              <optgroup label="Agentes">
                <option value="AGENT_ID">AGENT_NAME</option>
                <option value="AGENT_ID">AGENT_NAME</option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="card">
          <div class="body">
            <div class="demo-container">
              <div id="placeholder1" class="demo-placeholder"></div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="body">
            <div class="demo-container">
              <div id="placeholder2" class="demo-placeholder"></div>
            </div>
          </div>
        </div>
      <div>

        </div>
      </div>
    </div>
  </div>
</section>
</body>
<!-- Jquery Core Js -->
<script src="{% static 'adminbsb/plugins/jquery/jquery.min.js' %}"></script>

<!-- Jquery Js -->
<script src="{% static 'adminbsb/plugins/jquery/jquery.js' %}"></script>

<!-- Jquery Flot Js -->
<script src="{% static 'core/js/jquery.flot.js' %}"></script>

<!-- Bootstrap Core Js -->
<script src="{% static 'adminbsb/plugins/bootstrap/js/bootstrap.js' %}"></script>

<!-- Select Plugin Js -->
<script src="{% static 'adminbsb/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

<!-- Slimscroll Plugin Js -->
<script src="{% static 'adminbsb/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

<!-- Waves Effect Plugin Js -->
<script src="{% static 'adminbsb/plugins/node-waves/waves.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'adminbsb/js/admin.js' %}"></script>
<script type="text/javascript">

	$(function() {

		// We use an inline data source in the example, usually data would
		// be fetched from a server

		var datas = [[null,null],[null,null]],
			totalPoints = 300;

		function getRandomData(int) {
		
			if (datas[int].length > 0){
				datas[int] = datas[int].slice(1);
				
			}
				

			// Do a random walk
			
			while (datas[int].length < totalPoints) {
				
				var prev = datas[int].length > 0 ? datas[int][datas[int].length - 1] : 50,
					y = prev + Math.random() * 10 - 5;
					
				if (y < 0) {
					y = 0;
				} else if (y > 100) {
					y = 100;
				}
				

				datas[int].push(y);
			}

			// Zip the generated y values with the x values

			var res = [];
			for (var i = 0; i < datas[int].length; ++i) {
				res.push([i, datas[int][i]])
				
			}

			return res;
		}

		// Set up the control widget

		var updateInterval = 500;
		$("#updateInterval").val(updateInterval).change(function () {
			var v = $(this).val();
			if (v && !isNaN(+v)) {
				updateInterval = +v;
				if (updateInterval < 1) {
					updateInterval = 1;
				} else if (updateInterval > 2000) {
					updateInterval = 2000;
				}
				$(this).val("" + updateInterval);
			}
		});
		// python *
		var plot1 = $.plot("#placeholder1", [ getRandomData(0) ], {
			series: {
				shadowSize: 0	// Drawing is faster without shadows
			},
			yaxis: {
				min: 0,
				max: 100
			},
			xaxis: {
				show: false
			}
		});
		// python +
		

		function update() {
			
			plot1.setData([getRandomData(0)]);

			// Since the axes don't change, we don't need to call plot.setupGrid()
			
			plot1.draw();
			
			setTimeout(update, updateInterval);
		}
	</script>

</html>
