<!DOCTYPE html>
{% if agent %}
  <h3>Register new agent</h3>
  <h4>{{ agent.name }}</h4>
  <form id="register-form">
    {% csrf_token %}
    <input name="agent-id" value="{{ agent.id }}" hidden>
    <label for="name-field">Name:</label>
    <input name="name" id="name-field" placeholder="{{ agent.name }}"><br>
    <label for="interval-field">Interval:</label>
    <input id="interval-field" name="interval"><br>
    <label for="cpu-field">CPU:</label>
    <input id="cpu-field" name="cpu"><br>
    <label for="memory-field">Memory:</label>
    <input id="memory-field" name="memory"><br>
    <label for="disc-field">Disc:</label>
    <input id="disc-field" name="disc"><br>
    <button type="submit">Submit</button>
  </form>

  <div id="panel" hidden></div><br>
  <a href="/main_page">Back</a>

  <script>
    const form = document.getElementById('register-form');
    const panel = document.getElementById('panel');

    form.onsubmit = () => {
      event.preventDefault();
      let req = new XMLHttpRequest();
      req.onreadystatechange = () => {
        if (req.readyState === 4 && req.status === 200) {
          const obj = JSON.parse(req.responseText);

          form.hidden = true;
          panel.hidden = false;

          if (obj.status === 0) {
            panel.innerText = 'Success!';
          } else {
            panel.innerText = 'Failure!';
          }
        }
      };

      req.open('POST', '/ajax/register_agent', true);
      req.send(new FormData(form));
    };
  </script>
{% endif %}