<!DOCTYPE html>
<form id="signup-form">
  {% csrf_token %}
  <label for="name-field">Name:</label>
  <input id="name-field" name="name"><br>
  <label for="username-field">Username:</label>
  <input id="username-field" name="username"><br>
  <label for="password-field">Password:</label>
  <input id="password-field" name="password" type="password"><br>
  <label for="repeat-password-field">Repeat password:</label>
  <input id="repeat-password-field" name="repeat-password" type="password"><br>
  <button type="submit">Submit</button>
</form>

<div id="panel" hidden></div><br>
<a href="/">Back</a>

<script>
  const form = document.getElementById('signup-form');
  const panel = document.getElementById('panel');

  form.onsubmit = () => {
    event.preventDefault();
    let req = new XMLHttpRequest();
    req.onreadystatechange = () => {
      if (req.readyState === 4 && req.status === 200) {
        const obj = JSON.parse(req.responseText);

        form.hidden = true;
        panel.hidden = false;

        if (obj.status === 0) {
          panel.innerText = 'Success!';
        } else {
          panel.innerText = 'Failure!';
        }
      }
    };

    req.open('POST', '/ajax/signup', true);
    req.send(new FormData(form));
  };
</script>