<! DOCTYPE html> 
<meta charset = "utf-8">
<title> EAGLE </title>
<!-- criei arquivos para css e javascript  -->
<link rel="stylesheet" type="text/css" href="stylerelatorio.css" />
<link rel="stylesheet" href="./material.min.css">
<link rel="stylesheet" href="./teste.css">
<link rel="shortcut icon" href="eagle-emblem_38348.png" >
<script src="./material.min.js"></script> 


<script src="scriptsrelatorio.js"></script>

<body>

<!-- primeira div para escolher datas-->
	<div id="datas">
	
		<p>Data Inicio: <input type="date" id="calendario" max="1979-12-31" /></p>
		<br>
		<br>
		<p>Data final: <input type="date" id="calendario" min="2000-01-02" /></p>
		

	</div>
	
	<!-- segunda div para o relatorio-->
	<div id="relatorio">

	
	
</body>